module.exports = [
        {
            "username": "admin",
            "email": "list.backbone-platform@xxx.com",
            "firstName": "ADMIN",
            "lastName": "Administrator",
            "node_id": "http://kong-node:8001",
            "admin": true,
            "active" : true,
            "password": "{{ konga.password }}"
        }
    ]
